- var title = 'JSConf Iceland: August 25th — 26th';
- var description = 'A two day JavaScript conference in the land of fire and ice.';

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title=title

  meta(name="description" content=description)
  meta(name="theme-color" content="#f3df49")

  link(rel='icon' type='image/png' href='favicon.png')
  link(rel='stylesheet' href='styles/styles.css')

  meta(property='og:title' content=title)
  meta(property='og:site_name' content=title)
  meta(property='og:url' content='http://jsconf.is')
  meta(property='og:description' content=description)
  meta(property='og:type' content='website')
  meta(property='og:image' content='http://jsconf.is/images/og.png')

  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@rvkjs")
  meta(name="twitter:title" content=title)
  meta(name="twitter:description" content=description)
  meta(name="twitter:image" content="http://jsconf.is/images/og.png")
