extends ../shared/_page

block append vars
  - path = '/schedule';
  - blurb = 'Track schedules!'

block icon
  include ../../images/schedule.svg

block title
  | Schedule
  
mixin unified(slot)
  td(colspan="2")
    if slot.link
      a.u-base-link(href=slot.link)
        span.Schedule-title= slot.title || 'TBA'
        if slot.name
          .Schedule-name= slot.name
    else
      p.Schedule-title!= slot.title
mixin normal(slot)
  td
    if slot.link
      a.u-base-link(href=slot.link)
        span.Schedule-title= slot.title || 'TBA'
        if slot.name
          .Schedule-name= slot.name
    else
      p.Schedule-title!= slot.title
mixin timeSlot(slot)
  tr
    td.Schedule-time= slot.time
    if slot.unified
      +unified(slot.unified)
    else
      if slot.trackA
        +normal(slot.trackA)
      if slot.trackB
        +normal(slot.trackB)

block content
  p #[strong Note:] This schedule is tentative and will change without notice leading up to the event.
  
  each day in schedule
    h2= day.date
    table.Schedule.hover.scroll
      colgroup
        col
        col(style="width:50%")
        col(style="width:50%")
      if !day.noTracks
        thead: tr
          th
          th Hekla
          th Katla
      tbody
        each slot in day.slots
          +timeSlot(slot)

  //-
    h2 Thursday August 25, 2016

    dl.Agenda
      dt.Agenda-term 08:00 - 09:30
      dd.Agenda-description Breakfast in Harpa
      dt.Agenda-term 10:00 - 17:00
      dd.Agenda-description Day tour - to be announced
      dt.Agenda-term 12:00
      dd.Agenda-description Lunch

    h2 Friday August 26, 2016

    dl.Agenda
      dt.Agenda-term 08:00 - 09:30
      dd.Agenda-description Breakfast in Harpa
      dt.Agenda-term 10:00 - 14:00
      dd.Agenda-description Visit Reykjavik Park and Zoo
      dt.Agenda-term 12:00
      dd.Agenda-description BBQ
      dt.Agenda-term 14:00 - 17:00
      dd.Agenda-description Relax in one of the public swimming pools Iceland is known for
